<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>

<br />



<form method="POST" style="max-width:600px;" action="/admin/addParkAmenities" th:object="${form}">
    <div class="form-group">
        <label th:for="amenityId">Amenities</label>
        <select th:field="*{amenityId}">
            <option th:each="amenity : *{amenities}"
                    th:text="${amenity.name}"
                    th:value="${amenity.id}"></option>
        </select>
    </div>

    <input type="hidden" th:value="*{park.id}" name="parkId" />
    <input type="submit" value="Add Amenities"/>

</form>


</body>
</html>