<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container" th:object="${park}">



<nav th:replace="fragments :: navigation"></nav>

<br />

<h1 th:text="${title}"></h1>

<br />

<div>

    <p>

        <strong>Name: </strong><span th:text="${park.name}"> </span><br />
        <strong>Neighborhood: </strong><span th:text="${park.neighborhood}"></span><br />
        <strong>Street Address: </strong><span th:text="${park.streetAddress}"></span><br />
        <strong>City: </strong><span th:text="${park.city}" ></span><br />
        <strong>Zip: </strong><span th:text="${park.zip}"></span><br />

    </p>

</div>

<p><a th:href="'/admin/addParkAmenities/' + ${park.id}">Add Amenitites for This Park</a></p>

</body>
</html>