<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav>
    <a href="/admin/addPark">fix</a> |
    <a href="/admin/addAmenity">fix</a>

</nav>

<form method="post" action="">
<div th:each="amenity : ${amenities}" class="checkbox">
    <input type="checkbox" name="amenityIds" th:value="${amenity.id}" th:id="${amenity.id}"/>
    <label th:for="${id}" th:text="${amenity.name}"></label>
    <br />
</div>

<input type="submit" value="Find Parks" />

</form>



</body>
</html>