<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav>
    <a href="/admin/addPark">fix</a> |
    <a href="/admin/addAmenity">fix</a>

</nav>


<br />
<h2>Parks List</h2>


<div  th:each="park : ${parks}">
    <table class="">
        <tr>
            <th>Name</th>
            <td th:text="${park.name}"></td>
        </tr>
        <tr>
            <th>Neighborhood</th>
            <td th:text="${park.neighborhood}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${park.streetAddress} + ', St. Louis, MO  ' + ${park.zip}"></td>
        </tr>
        <tr>
            <th>Website</th>
            <td th:text="${park.website}"></td>
        </tr>
        <tr>
        <tr>
            <th>Amenities</th>
            <td>
            <ul th:each="amenity : ${park.amenities}">
                <li th:text = "${amenity.name}"></li>
            </ul>
            </td>
        </tr>
        <hr/>
    <br />

    </table>
</div>

</body>
</html>